node_modules
.next
out
build
.git
.gitignore
.dockerignore
Dockerfile
README.md
docs
img
logs
docker-compose.yml
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
